


.grid-card{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}

.card {
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    max-width: 300px;
    margin: 1rem;
  }
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .card-image {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .card-content {
    padding: 1rem;
  }
  
  .card-title {
    font-size: 1.25rem;
    margin: 0 0 0.5rem;
    color: #fff;
  }
  
  .card-description {
    color: #666;
  }
  
  .card-link {
    display: inline-block;
    margin-top: 0.5rem;
    padding: 0.25rem 0.5rem;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
  }
  
  .card-link:hover {
    background-color: #0056b3;
  }

/*  */


/* .projects-containerX {
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
  }
  
  .project {
    border: 1px solid #e0e0e0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    transition: transform 0.2s ease;
  }
  
  .project:hover {
    transform: translateY(-5px);
  }
  
  .project img {
    max-width: 100%;
    height: auto;
  }
  
  .project-details {
    margin-top: 1rem;
  }
  
  .project-details h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  
  .project-details p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 1rem;
  }
  
  .technologies {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
  
  .tech {
    background-color: #f0f0f0;
    padding: 0.2rem 0.5rem;
    font-size: 0.8rem;
    border-radius: 4px;
  }
  
  .title{
    color: #fff;
  } */