/* .landing{
  min-height: 80px;
  display: flex;
  overflow: hidden;
} */

/* @media(max-width: 767px){
  .landing{
    min-height: auto;
    display: initial;
  }
} */

.container{
  padding: 10px 10%;
}